:root {
/* CSS HEX */
--saffron: #e9c46aff;
--bittersweet: #ff6666ff;
--air-force-blue: #598392ff;
--prussian-blue: #273043ff;
--periwinkle: #d8dcffff;

--text-color: #222E50;
--text-accent: #439A86;
--bg-accent: #C08552;
--link-accent: #FF4D80;
--bg: #F3E9DC;
}

body {
background-color: white;
 color: var(--text-color);
 font-size: 14pt;
  line-height: 1.2;
}

.content {
	background-color: var(--bg);
	width: 700px;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
  	position: relative;
  	left: 170px;
}

.emph {
	color: var(--text-accent);
}

nav {
	position: fixed;
	width: 180px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li a {
  display: block;
  color: #000;
  padding: 8px 8px;
  text-decoration: none;

  font-size: 18pt;
}

/* Change the link color on hover */
nav li a:hover {
  color: var(--text-accent);
}

.active {
  background-color: var(--bg);
  color: var(--bg-accent);
}

.bucket {
	list-style: none;
}

.bucket li.done:before {
  content: '\25A3\0020 ';
}

.bucket li.open:before {
  content: '\25A2\0020 ';
}

.bucket li.abandon:before {
  content: '\229F\0020 ';
}